* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}

.names {
  margin-top: 20px;
}

h1 {
  width: 90px;
  margin: auto;
}
a {
  float: right;
  margin-top: -111px;
}

a.anterior {
  float: left;
  margin-top: 55vh;
}

a.proxima {
  margin-top: 52.6vh;
}
